{# recetas_app/partials/pagination_controls.html #}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&order_by={{ current_order_by }}&direction={{ current_direction }}" class="pagination-btn">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&order_by={{ current_order_by }}&direction={{ current_direction }}" class="pagination-btn">Siguiente</a>
        {% endif %}
    </span>
</div>