{% extends 'base.html' %}
{% load static %}

{% block title %}Mis Comentarios - El Recetario{% endblock title %}

{% block content %}
<div class="main-content-new">
    <h2 class="section-title">Mis Comentarios</h2>
    <div class="comments-container">
        <p class="form-description">Aquí puedes ver todos los comentarios que has realizado y sus respuestas.</p>

        {% if comentarios_principales %}
            <ul class="user-comments-list">
                {% for comentario in comentarios_principales %}
                    <li class="user-comment-item">
                        <p class="comment-text">"{{ comentario.texto|truncatechars:200 }}"</p>
                        <p class="comment-info">En: 
                            <a href="{% url 'recetas_app:detalle_receta' pk=comentario.receta.pk %}">{{ comentario.receta.titulo }}</a> 
                            el {{ comentario.fecha_creacion|date:"d M Y H:i" }}
                        </p>
                        
                        {# Mostrar respuestas a este comentario #}
                        {% if comentario.respuestas.all %}
                            <div class="comment-replies">
                                <h4>Respuestas:</h4>
                                {% for respuesta in comentario.respuestas.all %}
                                    <p class="reply-text">
                                        <strong>{{ respuesta.autor.username }}:</strong> {{ respuesta.texto }}
                                        <span class="reply-date">({{ respuesta.fecha_creacion|date:"d M Y H:i" }})</span>
                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aún no has realizado ningún comentario.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
